header
    text-align: center
    margin: 0 auto

nav ul
    padding-left: 0
    list-style: none

    li
        display: inline
        padding: 0.4em
        font-size: 1.2em

        a
            text-decoration: none

        .selected, a:hover
            text-decoration: underline
