header
    display: flex
    flex-direction: column
    padding-top: 1.8em
    text-align: center
    margin: 0 auto
    font-weight: 500

    .logo
        display: flex
        margin: 0 auto
        margin-bottom: 1em

        svg
            width: 3em
            margin-right: 1em
            height: auto

        h1
            font-weight: 600
            margin: 0

            .tooltip
                font-size: 0.4em

            // Dots
            & .text::after
                margin-top: 0.05em

nav ul
    padding-left: 0
    line-height: 1.5
    list-style: none

    li
        display: inline
        padding: 0.4em
        font-size: 1.2em
        white-space: nowrap

        a
            text-decoration: none
            border-bottom: 2px solid transparent

        .selected, a:hover
            border-bottom: 2px solid #039BE5
