.sentence
    font-size: 1.05em

.sentence .word
    margin-right: 0.5em
    white-space: nowrap

.sentence .part
    position: relative
    margin-right: -5px
    line-height: 1.5

    .translated::before, .translated::after
        content: '"'
