.sentence
    font-size: 1.05em

.sentence .part
    position: relative
    margin-right: -5px

.nd .text
    border-color: #009688

.verb .text
    border-color: #7CB342

.less .text
    border-color: #42A5F5

.more .text
    border-color: #FB8C00

.diminutive .text
    border-color: #D81B60

.intensifier .text
    border-color: #E53935

.abstract .text
    border-color: #8E24AA

.objectification .text
    border-color: #00ACC1

.comparative .text
    border-color: #AEEA00

.plural .text
    border-color: #F4511E

.case .text
    border-color: #039BE5

.stacking .text
    border-color: #00897B

.voice .text
    border-color: #6D4C41

.mood .text
    border-color: #546E7A
