<div class="chart">
    <div class="arrow">
        <div class="sections top">
            <span>tiny</span>
            <span>small</span>
            <span>small-ish</span>
            <span>moderate</span>
            <span>big-ish</span>
            <span>big</span>
            <span>huge</span>
        </div>
        <div class="line"></div>
        <div class="sections bottom">
            <span>-vetao</span>
            <span>-ve</span>
            <span>-vetoe</span>
            <span>ike</span>
            <span>-satoe</span>
            <span>-sa</span>
            <span>-satao</span>
        </div>
    </div>
</div>