<div class="chart">
    <div class="arrow">
        <div class="sections top">
            <span>tiny</span>
            <span>small</span>
            <span>small-ish</span>
            <span>moderate</span>
            <span>big-ish</span>
            <span>big</span>
            <span>huge</span>
        </div>
        <div class="line"></div>
        <div class="sections bottom">
            <span>-vetua</span>
            <span>-ve</span>
            <span>-veteo</span>
            <span>ike</span>
            <span>-sateo</span>
            <span>-sa</span>
            <span>-satua</span>
        </div>
    </div>
</div>