{% set names = load_data(path="static/names.json") %}

<div class="sentence example">
    <span class="word">
        {% for part in parts %}
            {% if part | length == 0 %}
                </span> <span class="word">
                {% continue %}
            {% elif part | length == 1 %}
                <span class="part">{{ part[0] }}</span>
            {% endif %}

            {% set_global tooltip = "" %}
            {% set_global class = "" %}
            {% for i in range(start=1, end=part | length) %}
                {% set meaning = part[i] %}
                {% if meaning in names %}
                    {% set entry = names[part[i]] %}
                    {% if "class" in entry %}
                        {% set_global class = [class, entry["class"]] | join(sep=" ") %}
                    {% endif %}

                    {% set_global tooltip = [tooltip, entry["full"]] | join(sep="&#13;&#10;") %}
                {% elif meaning == "..." %}
                    {% set_global tooltip = [tooltip, '...'] | join(sep="&#13;&#10;") %}
                {% else %}
                    {% set_global tooltip = [tooltip, '"' ~ meaning ~ '"'] | join(sep="&#13;&#10;") %}
                {% endif %}
            {% endfor %}

            <span class="part hoverable {{ class }}"
                  tabindex="1"
                  data-tooltip='{{ tooltip | trim_start_matches(pat="&#13;&#10;") | safe }}'>{{ part[0] }}</span>
        {% endfor %}
    </span>

    {% if translation %}
        <p>{{ translation | safe }}</p>
    {% endif %}
</div>