{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="A language optimised for getting by with a small vocabulary">
    <meta name="application-name" content="Luno Lei">
    <meta name="author" content="PaddiM8">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://luno-lei.strct.net" />
    <meta property="og:description" content="A language optimised for getting by with a small vocabulary" />

    {% if page.title %}
        <meta property="og:title" content="{{ page.title }} | {{ config.title }}" />
        <title> {{ page.title }} | {{ config.title }} </title>
    {% else %}
        <title> {{ config.title }} </title>
        <meta property="og:title" content="{{ config.title }}" />
    {% endif %}

    <link rel="icon" href="/duck.svg" sizes="any" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <script defer data-domain="luno-lei.strct.net" data-api="https://plausible.kalker.xyz/api/event" src="/stats.js"></script>
</head>

<body>
    <div class="page">
        <header>
            <div class="logo">
                {{ load_data(path="static/duck.svg") | safe }}
                <h1>Luno Lei</h1>
            </div>
            <nav>
                <ul class="nav-items">
                    <li>{{ macros::nav_item(name="Home", slug="") }}</li>
                    <li>{{ macros::nav_item(name="Phonology", slug="phonology") }}</li>
                    <li>{{ macros::nav_item(name="Grammar", slug="grammar") }}</li>
                    <li>{{ macros::nav_item(name="Word Building", slug="word-building") }}</li>
                    <li>{{ macros::nav_item(name="Dictionary", slug="dictionary") }}</li>
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            {% block content %}
            {{ page.content | safe }}
            {% endblock content%}
        </main>
    </div>
    <script src="/tooltip.js"></script>
</body>

</html>